.product {
   margin-top: 100px;
}

.productWrapper {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 20px;
}

.productImage {
   background-color: white;
   /*width: 500px;*/
}
.productImg {
   width: 500px;
   height: 500px;
   object-fit: contain;
   /*object-position: left;*/
}
.productDescription {
   width: 700px;
}
.productTitle {
   margin-top: 20px;
}
.productText {
   margin: 20px 0 20px 0;
   width: 500px;
   color: gray;
}
.productPrice {
   margin: 20px 0 20px 0;
}
