.productItem {
   background-color: white;
   width: 250px;
   height: 420px;
   border-radius: 5px;
   box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
   border: 1px solid lightgray;
}
.productItemRate {
   display: flex;
   gap: 5px;
   align-items: center;
}
.productItemRateCount {
   color: gray;
   font-size: 15px;
}
.productTop {
   padding: 10px;
   cursor: pointer;
}

.productItemImg {
   width: 100%;
   height: 250px;
   object-fit: contain;
}
.productItemDescription {
   padding: 10px;
}
.productItemTitle {
   font-size: 15px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
}
.productItemPrice {
   margin-top: 5px;
}
.productItemBtn {
   margin-top: 5px;
}
